<roundcube:include file="includes/header.html" />
<div id="layout-menu" role="navigation" aria-labelledby="aria-label-tasknav">
    <h2 id="aria-label-tasknav" class="voice"><roundcube:label name="arialabeltasknav" /></h2>
    <div id="gm-nav-top" class="gm-nav-top">
        <roundcube:if condition="env:task == 'mail'" />
        <roundcube:if condition="env:action == 'compose'" />
        <roundcube:button
            command="compose"
            type="link"
            class="gm-compose selected"
            title="writenewmessage"
            innerclass="gm-compose-label"
            label="compose"
        />
        <roundcube:else />
        <roundcube:button
            command="compose"
            type="link"
            class="gm-compose"
            title="writenewmessage"
            innerclass="gm-compose-label"
            label="compose"
        />
        <roundcube:endif />
        <roundcube:elseif condition="env:task == 'addressbook'" />
        <roundcube:button
            command="add"
            type="link"
            class="gm-compose"
            title="newcontact"
            innerclass="gm-compose-label"
            label="newcontact"
        />
        <roundcube:endif />
    </div>
    <div id="taskmenu" class="gm-nav-tasks">
        <roundcube:button
            command="mail"
            label="mail"
            type="link"
            class="gm-nav-task mail"
            classSel="gm-nav-task mail selected"
            innerclass="gm-nav-label"
        />
        <roundcube:button
            command="addressbook"
            label="contacts"
            type="link"
            class="gm-nav-task contacts"
            classSel="gm-nav-task contacts selected"
            innerclass="gm-nav-label"
        />
        <roundcube:button
            command="calendar"
            task="calendar"
            label="calendar"
            type="link"
            class="gm-nav-task calendar"
            classSel="gm-nav-task calendar selected"
            innerclass="gm-nav-label"
        />
        <roundcube:button
            command="settings"
            label="settings"
            type="link"
            class="gm-nav-task settings"
            classSel="gm-nav-task settings selected"
            innerclass="gm-nav-label"
        />
        <roundcube:container name="taskbar" id="taskbar-tasks" />
    </div>
</div>
